

.login_main {
    background-image:
        linear-gradient(
        115deg,
        rgba(99, 116, 138, 0.5),
        rgba(64, 75, 89, 0.4)
      ),
       url('https://lh3.googleusercontent.com/wuXzOkwE-skXtI3KYNDI4pTynj2zJ05X_DnosbFY4H5DgE1kRg8ZiLnoqwIcD4cHJQDX9g4aL8WTM_4yCd0ChTlAwkhUE1YreoP4wVKVJ34eU6LUpYKnXArhnnX2t2P5QCGn-LhnsuUf3skhhjnBwE-SdG1THwIBehOHcTfyxPlbEgMb2v7Dr7578qsiMMBVnSd_qeWOciWWifAzt84XkpnsKxuiuKff4ICtp5O2je-FVUgiKvjRwvvmxFbOWT2cUBSl2prUHhgWwagq0lx29lZJb80aDQaPx4FhDluuXX7BDTxpW_V0XDOx2uSfDTIUH3o6gajkQg98e2mTke9w36R3U8ObvbUePFt0usxdYvcsCZ5Y3a3bJe-MBJ_86H5F9MWKOefQFMz6_sngKBBKf2mJaRa7Qw1PWd4VUmZc6k1-F6XN42L3syaIAI3bE5x2rkbefY95qvXl4tG9n6SdCMCz73Mea9HanYkUrcQ-FWt9a5rqeCnWgS54aMGsf8zkZ7HH2QnDjQPNknodiZ_4hNoSeNq6k2jrPAvdD8y7W5_qmrbnMwvyMvqxDwEIiraTqfOTnGWKVov4bv4s5_7Ei4nsb0I9K5JIeKzRUCS83gXTaeBOsMULrl8a-e-w73ol10_SaXOnK1O9OIo4Jb_JVEL2UCPpp1W0ZeRXnycdslVuGdlwP89DaKqWWw4r9DE--spt3fYtAX6xNKo195CjYWwtNzh54fLKXPs3FKwj1SU4Xu5CMw6OTHbrU77v=w1182-h665-no?authuser=0');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0px;
    height: 110vh;
  }

.space {
    height: 10%;
}

.login_main_container_desk {
    margin: 10% 30% auto 30%;
}
.login_main_container_mobile {
    margin: 20% 10% auto 10%;
    min-width: 300px;
}

.login_form_container {
    margin-top: 0px;
    padding: 4px;
    border: solid 1px #053057;
    border-radius: 20px;
    background-color: rgb(76, 154, 224, 0.6);
}

.login_inner_form_container h2 {
    text-align: center;
    margin: 3px auto 3px auto;
}

.login_inner_form_container p {
    text-align: center;
}

.login_inner_form_container {
    /* background-color: rgb(5, 48, 87, 0.2); */
    margin: 0% 10% 0 10%;  
}

.login_form {
    margin: 0% 15% 0% 15%;
}

.login_form form label {
    display: block;
    margin: 1% auto 1% auto;
}

.login_form input {
    width: 100%;
    padding: 4px;
}

.login_form_btn_container {
    text-align: center;
    margin: 4% 2% 4% 2%;
    padding: 2px;
}

.login_form_btn {
    font-family: inherit;
    max-width: 150px;
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(5, 48, 87 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.login_form_btn:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(5, 48, 87 / 30%) 0px 4px 4px, #053057 0px 0px 0px 1px;
}

.login_form_btn:hover {
    box-shadow: 4px 4px 0 #053057;
    transform: translate(-4px,-4px);
}

.login_form_btn:focus-visible{
    outline-offset: 1px;
}