
.sj_main {
    box-sizing: border-box; 
    background-image:
        linear-gradient(
        115deg,
        rgba(99, 116, 138, 0.5),
        rgba(64, 75, 89, 0.4)
      ),
       url('https://images.unsplash.com/photo-1571690584414-fa2a1127a2e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
       background-repeat: no-repeat;
       background-size: cover;
       color: white;
       /* margin: 0px; */
       height: fit-content;
  }

.sj_form_container_ {
    margin: auto 20% auto 20%;
}

.sj_form_container_desk {
    margin: 4% 20% auto 20%;
    padding: 4px;
    border: solid 1px #053057;
    border-radius: 20px;
    background-color: rgb(76, 154, 224, 0.6);
}

.sj_form_container_mobile {
    margin: 4% 10% auto 10%;
    padding: 4px;
    border: solid 1px #053057;
    border-radius: 20px;
    background-color: rgb(76, 154, 224, 0.6);
    min-width: 300px;
}

.sj_inner_form_container h2 {
    text-align: center;
    margin: 3px auto 3px auto;
}

.sj_inner_form_container p {
    text-align: center;
}

.sj_inner_form_container {
    /* background-color: rgb(5, 48, 87, 0.2); */
    margin: 0 10% 0 10%;  
}

.sj_inner_form_container form label {
    display: block;
    margin: 1% auto 1% auto;
}

.sj_inner_rating_container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.section1 input {
    /* background: rgb(65, 146, 248, 0.5); */
    width: 100%;
    padding: 5px;
    font-family: inherit;
}
.sj_form_quiver_section {
    margin-bottom: 5%;
}

/* .sj_form_quiver_section input {
    display: flex;
} */
.sj_form_quiver_section label {
    height: 20px;
}

.sj_inner_form_container p {
    margin: 1%;
}

.sj_inner_form_rate {
    float: center;
    height: 40px;
    padding: 0 10px;
    margin: 0px;
}
.sj_inner_form_rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.sj_inner_form_rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.sj_inner_form_rate:not(:checked) > label:before {
    content: '★ ';
}
.sj_inner_form_rate > input:checked ~ label {
    color: #ffc700;    
}
.sj_inner_form_rate:not(:checked) > label:hover,
.sj_inner_form_rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.sj_inner_form_rate > input:checked + label:hover,
.sj_inner_form_rate > input:checked + label:hover ~ label,
.sj_inner_form_rate > input:checked ~ label:hover,
.sj_inner_form_rate > input:checked ~ label:hover ~ label,
.sj_inner_form_rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.sj_form_btn_container {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 2%;
}

.sj_form_btn {
    font-family: inherit;
    font-weight: 600;
    max-width: 150px;
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(5, 48, 87 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.sj_form_btn:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(5, 48, 87 / 30%) 0px 4px 4px, #053057 0px 0px 0px 1px;
}

.sj_form_btn:hover {
    box-shadow: 4px 4px 0 #053057;
    transform: translate(-4px,-4px);
}

.sj_form_btn:focus-visible{
    outline-offset: 1px;
}