
.individual_expanded_trip_card {
    margin: 2%;
    max-width: 500px;
    height: 600px;
    border: solid 2px #053057;
    border-radius: 8%;
}

.individual_expanded_trip_card h2 {
    margin: 0px;
    padding: 4px;
    text-align: center;
    border-bottom: solid 2px #053057;
}

.individual_expanded_trip_card_img_container {
    height: 30%;
    width: 100%;
    /* border-bottom: solid 2px #053057; */
}
.individual_expanded_trip_card_img_container img {
    width:100%;
    height: 100%;
    margin: auto;
    display: block;
    border-bottom: solid 2px #053057;
}

.individual_expanded_trip_card_details_container {
    margin: 0 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual_expanded_trip_card_details {
    width: 40%;
    border-left: solid 1px black;
    margin: 2%;
    padding-left: 4px;
    /* background-color: rgb(231, 231, 231); */
}

.individual_expanded_trip_card_details h3 {
    margin: 0px;
}

.individual_expanded_trip_card_details p {
    margin: 0px;
}

.individual_expanded_trip_card_details_notes {
    width: 85%;
    border-left: solid 1px black;
    margin: 2%;
    padding-left: 4px;
    /* background-color: rgb(242, 230, 230); */
}

.individual_expanded_trip_card_details_notes h3 {
    margin: 0px;
}

.individual_expanded_trip_card_details_notes p {
    margin: 0px;
}

.iet_card_details_duration {
    /* display: block;
    max-width: 50%; */
}

.iet_card_details_duration_container img {
    width: 40px;
    height: 40px;
}

.iet_card_details_duration_container {
    display: flex;
    justify-content: space-between;
}

/* .individual_expanded_trip_card_star {
    display: flex;
    justify-content: center;
} */

/* .individual_expanded_trip_card_star img {
    margin-top: 2%;
    height: 15px;
    width: 15px;
} */

.individual_expanded_trip_card_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.individual_expanded_trip_card_btn {
    font-family: inherit;
    font-weight: 600;
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 14px;
    height: 36px;
    transition: all 150ms ease-in-out 0s;
}

.individual_expanded_trip_card_btn:hover {
    color: rgb(61, 79, 88);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(93, 108, 116);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, #053057 0px 0px 0px 1px;
}

.individual_expanded_trip_card_btn:hover {
    box-shadow: 4px 4px 0 #053057;
    transform: translate(-4px,-4px);
}

.individual_expanded_trip_card_btn:focus-visible{
    outline-offset: 1px;
}

.clock_icon {
    width: 20px;
    height: 20px;
}