.top_navbar_container ul {
    background-color: #053057;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    border-bottom: solid #FDD040 2px;
    padding: 10px;
    margin: 0px;
    list-style: none;
    font-size: 1.4em;
  }
  
  .top_navbar_container li a {
    list-style: none;
    text-decoration: none;
    color: white;
  }